﻿@using Kendo.Mvc.UI
@model List<Usys.Monitor.WebShell.Data.Model.ServerConfig>


<table style="width: 100%;">
    <tr>
        @foreach (var server in Model)
        {
            <td style="width: @(100 / Model.Count)%;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@server.MachineName</h3>
                    </div>
                    <div class="panel-body">
                        @{
                            Html.Kendo().RadialGauge().Name("Mvc-" + server.MachineName + "-Gauge")
                                .Scale(config => config.Min(0).Max(100)).RenderAs(RenderingMode.Canvas)
                                .Render();
                        }

                        <div class="progress">
                            <div id="@("Mvc-" + server.MachineName + "-AverageProgressBar")" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 20px;">
                                ???
                            </div>
                        </div>
                        <div class="progress">
                            <div id="@("Mvc-" + server.MachineName + "-MaximumProgressBar")" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 20px;">
                                ???
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group">
                            <div data-function="OpenWindow" class="btn btn-default" data-title="@server.MachineName" data-url="@Url.Action("ServerLastMinutes", new { id = server.MachineName })">Last minutes</div>
                        </div>
                    </div>
                </div>
            </td>
        }
    </tr>
</table>

<script>
    $(function () {
        $('#MvcServersGeneralOverview').kendoWindow();

        setInterval(function () { RefreshMvcData(); }, 1000);

        RefreshMvcData();
    });

    function RefreshMvcData() {
        $.ajax({
            url: '@Url.Action("RefreshMvcData")',
            dataType: 'JSON',
            success: function (data) {
                $.each(data, function (index, server) {
                    $('#Mvc-' + server.MachineName + '-Gauge').data('kendoRadialGauge').value(server.AverageProcessorUsage);
                    $('#Mvc-' + server.MachineName + '-AverageProgressBar').text(server.AverageProcessorUsage + '%');
                    $('#Mvc-' + server.MachineName + '-AverageProgressBar').css('width', server.AverageProcessorUsage + '%');
                    $('#Mvc-' + server.MachineName + '-MaximumProgressBar').text(server.MaximumProcessorUsage + '%');
                    $('#Mvc-' + server.MachineName + '-MaximumProgressBar').css('width', server.MaximumProcessorUsage + '%');
                });
            }
        });
    }
</script>