﻿@using Kendo.Mvc.UI
@using Usys.Monitor.WebShell.Data.Model
@model string

@{
    var id = Guid.NewGuid().ToString("D");
}

@{
    Html.Kendo().Chart<GeneralSystemInfoLastMinute>().Name(id)
        .Series(config =>
        {
            config.Column(m => m.AverageProcessorUsage).Name("Avg");
            config.Column(m => m.MaximumProcessorUsage).Name("Max");
        })
        .ValueAxis(axis => axis.Numeric().Min(0).Max(100))
        .CategoryAxis(axis => axis.Name("label-axis").Categories(m => m.ElapsedSeconds).Labels(labels => labels.Template("#= kendo.toString(new Date(value * 1000), 'HH:mm:ss') #").Rotation(90)))        
        .AutoBind(true)
        .DataSource(config => config.Read(a => a.Action("RefreshLastHour", "Main", new { id = Model })))
        .Tooltip(tooltip => tooltip.Visible(true).Template("#= value #%"))
        .Render();
}

<script>
    $(function () {
        setInterval(function () { $('#@id').data('kendoChart').dataSource.read(); }, 5000);
    });
</script>