﻿@using Kendo.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usys System Monitor</title>
    @Styles.Render("~/Content/cssMain")
    @Styles.Render("~/Content/cssMain")
    @Styles.Render("~/Content/kendoMain")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendoScripts")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    <script>
        var lastTop = 0;
        var lastLeft = 0;
        var height = 500;
        var width = 750;

        $(function () {
            InitializeMenuWindows();
        });

        function InitializeMenuWindows() {
            $(document).on('click', '#MainMenu li[data-url]', null, function (event) {
                event.preventDefault();

                openWindow($(this).data('url'), $('span', this).text());
            });

            $(document).on('click', '#MainMenu li[data-function]', null, function (event) {
                event.preventDefault();

                window[$(this).data('function')]();
            });

            $(document).on('click', 'div[data-function=OpenWindow][data-title][data-url]', null, function (event) {
                event.preventDefault();

                openWindow($(this).data('url'), $(this).data('title'));
            });
        }

        function openWindow(url, title) {
            var id = generateUid();

            $('body').append('<div id=\'' + id + '\' />');

            var window = $('#' + id);

            window.kendoWindow({
                actions: ["Refresh", "Maximize", "Minimize", "Close"],
                title: title,
                position: {
                    top: getTop(),
                    left: getLeft()
                },
                height: height,
                width: width,
                animate: false,
                refresh: function (e) {
                    window.html('loading');
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (html) {
                            window.html(html);
                        },
                        error: function (err) {
                            window.html(err.responseText);
                        }
                    });
                }
            });

            var kendoWindow = window.data('kendoWindow');
            kendoWindow.refresh();
        }

        function generateUid(separator) {
            var delim = separator || "-";

            function s4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }

            return (s4() + s4() + delim + s4() + delim + s4() + delim + s4() + delim + s4() + s4() + s4());
        };

        function getLeft() {
            if (lastLeft + 75 + width > window.innerWidth)
                lastLeft = 0;
            return (lastLeft += 25);
        }

        function getTop() {
            if (lastTop + 75 + height > window.innerHeight)
                lastTop = 0;
            return (lastTop += 25);
        }

        function closeAllWindows() {
            $.each($('div[data-role=window]'), function(index, window) {
                $(window).data('kendoWindow').close();
            });
        }
    </script>
</body>
</html>
