﻿@using Kendo.Mvc.UI
@model List<Usys.Monitor.WebShell.Data.Model.MvcServerConfig>

@{
    ViewBag.Title = "Mvc overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mvc Servers details</h3>
            </div>
            <div class="panel-body">
                @{
                    Html.Kendo().TabStrip().Name("ServerTabStrip")
                        .Items(items =>
                        {
                            items.Add().Text("All").Selected(true).LoadContentFrom(Url.Action("ServerInfo"));
                            foreach (var server in Model)
                            {
                                items.Add().Text(server.MachineName).LoadContentFrom(Url.Action("ServerInfo", new { id = server.MachineName })).HtmlAttributes(new { id = server.MachineName + "-Tab" });
                            }
                        })
                        .Animation(a => a.Enable(true))
                        .Render();
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            InitializeServerClick();
        });

        function InitializeServerClick() {
            $(document).on('click', 'a[data-server]', null, function (event) {
                event.preventDefault();

                $('#ServerTabStrip').data('kendoTabStrip').activateTab($('#' + $(this).data('server') + '-Tab'));
            });
        }
    </script>
}