﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Usys System Monitor</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Mvc @DateTime.Now.ToShortDateString()</h2>
        <p>
            <table class="table" id="MvcInfoList" data-url="@Url.Action("GetMvcServerProcessorHealth")">
                <tr>
                    <td>Avg CPU</td>
                    <td><span id="MvcAverageProcessorUsageLabel">???</span> %</td>
                </tr>
                <tr>
                    <td>Max CPU</td>
                    <td><span id="MvcMaximumProcessorUsageLabel">???</span> %</td>
                </tr>
                <tr>
                    <td>Avg MEM</td>
                    <td><span id="MvcAverageMemoryUsageLabel">???</span> Mb</td>
                </tr>
                <tr>
                    <td>Max MEM</td>
                    <td><span id="MvcMaximumMemoryUsageLabel">???</span> Mb</td>
                </tr>
                <tr>
                    <td>Servers</td>
                    <td><span id="MvcServerCountLabel">???</span></td>
                </tr>
                <tr>
                    <td>Instances</td>
                    <td><span id="MvcInstanceCountLabel">???</span></td>
                </tr>
            </table>
        </p>
        <p>
            @Html.ActionLink("Details »", "Index", "MvcServerHealth", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-3">
        <h2>Wcf Health</h2>
        <p>@Html.ActionLink("Details »", "Index", "WcfServerHealth", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Telnet Health</h2>
        <p>@Html.ActionLink("Details »", "Index", "TelnetServerHealth", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>DocGen Health</h2>
        <p>@Html.ActionLink("Details »", "Index", "DocGenServerHealth", null, new { @class = "btn btn-default" })</p>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            UpdateMvcHealthGauge();
            UpdateWcfHealthGauge();
            UpdateTelnetHealthGauge();
            UpdateDocGenHealthGauge();

            setInterval(UpdateMvcHealthGauge, 60000);
            setInterval(UpdateWcfHealthGauge, 60000);
            setInterval(UpdateTelnetHealthGauge, 60000);
            setInterval(UpdateDocGenHealthGauge, 60000);
        });

        function UpdateMvcHealthGauge() {
            $("#MvcAverageProcessorUsageLabel").html('???');
            $("#MvcMaximumProcessorUsageLabel").html('???');
            $("#MvcAverageMemoryUsageLabel").html('???');
            $("#MvcMaximumMemoryUsageLabel").html('???');

            var url = $('#MvcInfoList').data('url');
            $.ajax({
                url: url,
                dataType: 'JSON',
                type: 'GET',
                success: function (data) {
                    $("#MvcAverageProcessorUsageLabel").html(data.AverageProcessorUsage);
                    $("#MvcMaximumProcessorUsageLabel").html(data.MaximumProcessorUsage);
                    $("#MvcAverageMemoryUsageLabel").html(data.AverageMemoryUsage);
                    $("#MvcMaximumMemoryUsageLabel").html(data.MaximumMemoryUsage);
                    $("#MvcServerCountLabel").html(data.ServerCount);
                    $("#MvcInstanceCountLabel").html(data.InstanceCount);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        }

        function UpdateWcfHealthGauge() {
            //var url = $('#WcfHealthGauge').data('url');
            //$.ajax({
            //    url: url,
            //    dataType: 'JSON',
            //    type: 'GET',
            //    success: function (data) {
            //        $("#WcfHealthGauge").data("kendoRadialGauge").value(data.AverageProcessorUsage);
            //    },
            //    error: function (err) {
            //        alert(err.responseText);
            //    }
            //});
        }

        function UpdateTelnetHealthGauge() {

        }

        function UpdateDocGenHealthGauge() {

        }
    </script>
}